/*!CK:2551502917!*//*1420577947,*/

._5s0e{border-right:1px solid #e5e5e5}._5s0f{height:32px;padding:7px 8px 9px;width:100%}._5s0g{border-top:1px solid #e5e5e5}._5s0h{background:#f6f7f8}._5s0d{font-size:12px}._5s0d img{vertical-align:middle}

#bootloader_Gv9xI { height: 42px; }
.bootloader_Gv9xI { display:block !important; }