/*!CK:1899200536!*//*1420526681,*/

._5dgn{line-height:2em}
.sp_tHjqFyQsBDV{background-image:url(/rsrc.php/v2/y-/r/4nroxvcS5sj.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_tHjqFyQsBDV.sx_e27d26{background-position:0 0}.sp_tHjqFyQsBDV.sx_70669f{background-position:0 -17px}.sp_tHjqFyQsBDV.sx_5bf74e{background-position:0 -34px}

#bootloader_BBZk9 { height: 42px; }
.bootloader_BBZk9 { display:block !important; }