/*!CK:2759053744!*//*1420443153,*/

.sp_JhYOR3ybbqN{background-image:url(/rsrc.php/v2/yz/r/r1v84Z1DZp4.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_JhYOR3ybbqN.sx_fa67a6{width:12px;height:12px;background-position:0 -34px}.sp_JhYOR3ybbqN.sx_e71e3a{background-position:0 0}.sp_JhYOR3ybbqN.sx_7a5ba3{background-position:0 -17px}

#bootloader_BONxV { height: 42px; }
.bootloader_BONxV { display:block !important; }